@gcc:registry=http://build.dev.blinds.com/npm/gcc/
//build.dev.blinds.com/npm/gcc/:_authToken=EdVkXng0dWTDEKSpAeOr
@thd:registry=http://build.dev.blinds.com/npm/thd/
//build.dev.blinds.com/npm/thd/:_authToken=EdVkXng0dWTDEKSpAeOr